
@{
    ViewBag.Title = "Hakkımızda";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Hakkımızda</h3>
    </div>
    <div class="panel-body">
        <p>
            Merhaba, www.fooddelivery.com’a hoş geldiniz.<br /><br />

            Temelde, iletişime tutkuyla bağlı ,dünya geneli 206 ülkede faaliyet gösteren ,bir Bilgi Teknolojileri şirketiyiz.<br />


            Binlerce kişiyi, daha önce hiç olmadığı kadar çekici ve cazip şekillerde, olağanüstü yemekler yiyebilmeleri için anında yüzlerce restorana bağlıyoruz. Bunun için tek yapmamız gereken, telefonu sipariş denkleminden çıkarmak ve tüm süreçleri sizler için otomatikleştirmek oldu.<br />

            Şu anda, dünyanın dört bir yanında insanlar ne yemek siparişi vereceklerine karar veriyorlar. Konu karnı acıkmış müşteriler olduğunda, Neyiyelim.com rakip tanımıyor.<br />

            Ancak gerçek şu ki yemek siparişi vermenin ve siparişin kapınıza kadar gelmesinin en iyi yolu; kolay, hızlı, eğlenceli ve bol promosyonlu bir hizmet… İşte bu nedenle Neyiyelim.com en hızlı ve en hesaplı fiyat garantili online yemek siparişi ağını geliştirdi.<br />

            Sistemimizde ,Online sipariş ve servisin her adımı dijital olarak yapılıyor. Telefon kullanmayı tercih etmiyorsanız, telefonunuzu kullanma gerekliliğini tamamen ortadan kaldırdık.<br /><br />

            Müşterilerimiz için ,<br />

            En hızlı servis ve En hesaplı fiyat garantisi sunuyoruz, daha hesaplısını başka bir yerde bulmanız durumunda sizden 1 kuruş bile talep etmiyoruz.<br />

            Üye İşyerlerimiz için, İster kâr-zarar hanenizi iyileştirmek, ister müşteri tabanınızı genişletmek, ister sipariş ve servis sisteminizi geliştirmek isteyin; Neyiyelim size, bir online sipariş platformundan isteyebileceğiniz her şeyi karşılayacak kapsamlı araçlar sağlıyor.<br />

            İşletmeler için tüm özellikler %100 ücretsiz. Sizden tek istediğimiz online kayıt olmanız ve tüm müşteriler için en düşük fiyat garantisi vermeniz.<br />

            Her satışın yüzde ikisi müşteri ve iş ortakları için ödül puanlarına veya yardım kuruluşlarına gidecek.<br />

            Neyiyelim ile dünyayı daha iyi bir yer haline dönüştürün. İşte bu kadar! Daha fazla müşteri, daha fazla sipariş, daha fazla kazanç… Neyiyelim.com’a üye olun ve daha kârlı bir yarın için ağınızı bugünden genişletin!
        </p>
    </div>
</div>

