<div class="panel panel-primary">
    <div class="panel-heading">
        <h4><span class="glyphicon glyphicon-shopping-cart"></span> Sepetiniz</h4>
        
    </div>
    <div class="panel-body">
        <div id="sepetMesaji" style="display:none;"><h4 class="text-center">Sepetiniz şu an boş.</h4></div>
        <div id="sepetim" style="display:none;">
            <table class="table table-hover" id="sepetTablo">
                <thead>
                    <tr>
                        <th>Menü</th>
                        <th>Adet</th>
                    </tr>
                </thead>
                <tbody id="sepettekiler">
                </tbody>
            </table>
            <hr />
            <a id="sepeteGitBtn" class="btn btn-default form-control">Sepete Git</a>
        </div>
    </div>
</div>