<div class="panel panel-primary">
    <div class="panel-heading">
        <h4>Giriş Yap</h4>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label>E-Posta adresiniz: </label><br />
            <input type="email" class="form-control" required placeholder="E-Posta adresiniz" />
        </div>
        <div class="form-group">
            <label>Şifreniz: </label><br />
            <input type="password" class="form-control" required placeholder="Şifreniz" />
        </div>
        <input type="submit" class="form-control btn btn-success" value="Giriş Yap" />

    </div>
</div>
@{
    if (ViewBag.IsAdvertisement == true)
    {
        <br />
                        <img src="~/Images/kampanya.jpg" class="img-thumbnail" style="width:100%;" alt="Kampanya Görseli" />
    }
}


