@model IEnumerable<FoodDelivery.Entities.Concrete.Address>
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    bool adresVarMi = Model.Count() > 0;
}
<div id="panelMesaj" style="display:none;" class="panel panel-default">
    <div class="panel-body">
        <h3 class="text-center text-success">Siparişiniz onaylandı!</h3><br />
        <h5 class="text-center">Siparişlerim sayfasına yönlendiriliyorsunuz..</h5>
    </div>
</div>


<div class="panel panel-primary" id="panelSepet">
    <div class="panel-heading">
        Sepetiniz
    </div>
    <div class="panel-body">
        <div id="anaSepetMesaji" style="display:none;"><h4 class="text-center">Sepetiniz şu an boş.</h4></div>
        <div id="anaSepet" style="display:none;">
            <table class="table table-hover" id="anaSepetTablo">
                <thead>
                    <tr>
                        <th>Çıkar</th>
                        <th>Menü Adı</th>
                        <th>Adedi</th>
                        <th>Fiyatı</th>
                    </tr>
                </thead>
                <tbody id="anaSepettekiler"></tbody>
            </table>
            <hr />
            @{ 
                if (Model != null)
                {
            <div class="row pull-left">
                @{
                    if (adresVarMi)
                    {
                        <div class="col-md-6">
                            <h4><b>Adres Seçiniz </b></h4>
                            <select id="cartAddress" class="form-control">
                                @{
                                    foreach (var item in Model)
                                    {
                                        <option value="@item.ID">@item.Title</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-md-6">
                            <h4><b>Ödeme Tipi</b></h4>
                            <select id="odemeTipi" class="form-control">
                                <option value="0">Nakit</option>
                                <option value="1">Kredi / Banka Kartı</option>
                            </select>
                        </div>


                    }
                    else
                    {
                        <span class="text-danger">Siparişi Tamamlamadan önce adres girmelisiniz!</span>
                    }
                }

            </div>

            <div class="row pull-right" style="padding-right:20px;">
                <div class="col-md-6">
                    <h4>
                        <b>
                            Toplam Fiyat <br /><span style="padding-top:16px;"><span class="text-success" style="font-size:20pt;" id="toplamFiyat">####</span><span style="font-size:20pt;" class="text-success"> ₺</span></span>
                        </b>
                    </h4>
                </div>
                <div class="col-md-6">
                    @{
                        if (adresVarMi)
                        {
                            <div style="padding-top:10px;" class="pull-left"><a id="sepetiOnayla" class="btn btn-success form-control">Siparişi Tamamla</a></div>
                        }
                    }
                </div>
            </div>
                        }
                        else
                        {
                            <div class="text-center text-danger">Siparişinizi onaylamak için giriş yapmalısınız.</div> 
                        }
                  }
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            anaSepetiYukle();
        });
    </script>
}

