@model FoodDelivery.Entities.Concrete.Company


<div class="panel panel-primary">
    <div class="panel-heading">
        <h4>@Model.CompanyName</h4>
    </div>
    <div class="panel-body">
        <div class="thumbnail">
            @*<img src="@Url.Content(Model.PhotoPath)" alt="@Model.CompanyName" />*@
        </div>
    </div>
</div>