
@{
    ViewBag.Title = "AddBranch";
    Layout = "~/Views/Shared/_CompanyLayoutPage.cshtml";
}

<label>İller</label>
<select class="form-control">
    @{
        foreach (var item in ViewBag.Cities as IEnumerable<FoodDelivery.Entities.Concrete.City>)
        {
            <option value="@item.ID">@item.CityName</option>
        }
    }
</select>
<br />
<label>İlçeler</label>
<select class="form-control">
    @{
        foreach (var item in ViewBag.Regions as IEnumerable<FoodDelivery.Entities.Concrete.Region>)
        {
            <option value="@item.ID">@item.RegionName</option>
        }
    }
</select>
<br />
<label>Şube Adresi</label>
<textarea class="form-control" rows="5"></textarea>
<br />
<input type="button" class="btn btn-success form-control" value="KAYDET" />



