
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_CompanyLayoutPage.cshtml";
}

<div class="container login-container">

    <div class="row">

        <div class="col-md-3 col-md-offset-4 ">
            <button class="btn btn-primary pull-left" id="companyLogin">Giriş Formu</button>
            <button class="btn btn-primary pull-right" id="companyApply">Başvuru Formu</button>
            <br />
            <hr />

            <div id="loginForm">
                @using (Html.BeginForm("CompanyLogin", "Company", FormMethod.Post))
                {
                    <h4>Şirket Giriş</h4>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email" name="email" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" name="password" />
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-success pull-right" value="Giriş Yap" />
                    </div>
                    <span style="color:red">
                        @TempData["Mesaj"]
                    </span>
                }
            </div>
            <div id="companyBasvuruFormu" style="display:none">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4>Başvuru Formu</h4>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("AddCompanyApply", "Company", FormMethod.Post))
                        {
                            <div class="form-group">
                                <input id="companyName" type="text" name="name" class="form-control" placeholder="Company Adını Giriniz." required />
                            </div>
                            <div class="form-group">
                                <textarea id="companyDetail" required class="form-control" style="resize:none" name="detail" placeholder="Başvuru Açıklaması Giriniz."></textarea>
                            </div>
                            <div class="form-group">
                                <input type="email" id="companyEmail" required name="email" class="form-control" placeholder="Mail Adresi Giriniz." />
                            </div>
                            <div class="form-group">
                                <input type="password" id="companyPassword" required name="sifre" class="form-control" placeholder="Şifrenizi Giriniz." />
                            </div>
                            <div class="form-group">
                                <input id="tamamla" type="submit" value="Başvuruyu Tamamla" class="btn btn-success form-control" />
                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


@section scriptsCompany{
    <script>
        $(document).ready(function () {
            $("#companyApply").click(function () {
                $("#loginForm").hide(1000);
                $("#companyBasvuruFormu").show(1000);
            });
            $('#tamamla').click(function () {
                if ($("#companyName").val() != null && $("#companyDetail").val() != null && $("#companyEmail").val() != null && $("#companyPassword").val() != null) {
                    $.notify("Başvuru talebiniz alınmıştır. En kısa sürede size dönüş yapılacaktır.", { className: 'success', position: 'top right' });
                }
            });
            $("#companyLogin").click(function () {
                $("#companyBasvuruFormu").hide(1000);
                $("#loginForm").show(1000);
            })
        })
    </script>
}