@model IEnumerable<UI.DTOs.MenuPointDto>

@{
    ViewBag.Title = "CompanyLogin";
    Layout = "~/Views/Shared/_CompanyLayoutPage.cshtml";
}

<table class="table table-hover">
    <thead>
        <tr>
            <th>Menü Adı</th>
            <th>Menü Detay</th>
            <th>Fiyat</th>
            <th>Puan</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.Menu.MenuName</td>
                    <td>@item.Menu.MenuDetail</td>
                    <td>@string.Format("{0:C2}", item.Menu.Price)</td>
                    <td>@item.Point</td>
                </tr>
            }
        }
    </tbody>
</table>

