@model IEnumerable<FoodDelivery.Entities.Concrete.Menu>
@{
    ViewBag.Title = "Menus";
    Layout = "~/Views/Shared/_CompanyLayoutPage.cshtml";
}

<table class="table table-hover">
    <thead>
        <tr>
            <th>İsim</th>
            <th>Açıklama</th>
            <th>Fiyat</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.MenuName</td>
                    <td>@item.MenuDetail</td>
                    <td>@string.Format("{0:C2}", item.Price)</td>
                </tr>
            }
        }
    </tbody>
</table>

<hr />
<div id="menuEkle" class="btn btn-primary">Menü Ekle</div>
<br />
<br />
<div id="menuEklemeFormu" class="col-md-6" style="display:none">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>Yeni Menü Ekle</h4>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("AddMenu", "Company", FormMethod.Post))
            {
                <div class="form-group">
                    <input type="text" id="menuNameC" name="name" class="form-control" placeholder="Menü Adını Giriniz." required />
                </div>
                <div class="form-group">
                    <textarea required id="menuDetailC" class="form-control" style="resize:none" name="detail" placeholder="Menü İçeriğini Giriniz."></textarea>
                </div>
                <div class="form-group">
                    <input type="text" id="menuPriceC" required name="price" class="form-control" placeholder="Fiyatı giriniz." />
                </div>
                <div class="form-group">
                    <input type="submit" id="addMenu" value="Yeni Menü Ekle" class="btn btn-success form-control" />
                </div>
            }
        </div>
    </div>
</div>
@section scriptsCompany{
    <script>
        $(document).ready(function () {
            $("#menuEkle").click(function () {
                $("#menuEklemeFormu").slideToggle("slow");
            });

            $("#addMenu").click(function () {
                if ($("#menuNameC").val() != null && $("#menuDetailC").val() != null && $("#menuPriceC").val() != null) {
                    $.notify("Yeni menü eklendi.", { className: 'success', position: 'top right' })
                }
            });
        });
    </script>
}